@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800");
.app-wrapper .main-wrap .content-wrap .left-cnt .title-cnt, .app-wrapper .how-work-wrap .how-work-title, .app-wrapper .how-work-wrap .how-work-inner .how-work-container .title-item, .app-wrapper .capabilities-wrap .left-cnt ul .capabilities-item .title-item, .app-wrapper .download-wrap .left-cnt .download-title, .app-wrapper .table-wrap .table-inner .table-info-cnt .table-description-cnt .table-title, .app-wrapper .video-wrap .video-info-cnt .video-title, .app-wrapper .application-wrap .app-download-inner .app-download-title, .app-wrapper .choose-plan-wrap .left-cnt .plan-title, .app-wrapper .choose-plan-wrap .right-cnt .plan-description .plan-price, .app-wrapper .contact-us-wrap .contact-title {
  font-weight: 300;
}

body, .app-wrapper .download-wrap .left-cnt .download-description, .app-wrapper .video-wrap .video-info-cnt .video-title span, .app-wrapper .application-wrap .app-download-inner .app-download-title span, .app-wrapper .application-wrap .app-download-inner .app-link-inner .link-container a, .app-wrapper .choose-plan-wrap .left-cnt .plan-title span, .app-wrapper .contact-us-wrap .contact-title span {
  font-weight: 400;
}

header .header-wrap .navigation-cnt .button-wrap .button-container .btn .btn-text, .buttons-wrap .button-link .button-text, .app-wrapper .download-wrap .right-cnt .buttons-wrap .button-link .button-text {
  font-weight: 700;
}

.app-wrapper .main-wrap .content-wrap .left-cnt .title-cnt span, .app-wrapper .how-work-wrap .how-work-title span, .app-wrapper .how-work-wrap .how-work-inner .how-work-container .title-item span, .app-wrapper .capabilities-wrap .left-cnt ul .capabilities-item .title-item span, .app-wrapper .download-wrap .left-cnt .download-title span, .app-wrapper .table-wrap .table-inner .table-info-cnt .table-description-cnt .table-title span {
  font-weight: 800;
}

.wrap-container {
  width: 1170px;
  margin: auto;
}

html, body {
  width: 100%;
}

body {
  font-size: 100%;
  line-height: 1em;
  font-family: 'Nunito Sans', sans-serif;
}

header .header-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0px;
}

header .header-wrap .main-logo-cnt {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.7px;
}

header .header-wrap .navigation-cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .header-wrap .navigation-cnt ul {
  display: flex;
  flex-direction: row;
}

header .header-wrap .navigation-cnt ul li {
  padding: 0 15px;
  font-size: 15px;
}

header .header-wrap .navigation-cnt ul li a {
  color: #ffffff;
}

header .header-wrap .navigation-cnt .button-wrap {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 15px;
}

header .header-wrap .navigation-cnt .button-wrap .button-container .btn {
  padding: 8px 26px;
  border-radius: 5px;
  background: #ffffff;
}

header .header-wrap .navigation-cnt .button-wrap .button-container .btn .btn-text {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

header .header-wrap .navigation-cnt .button-wrap .burger-menu {
  margin: 0 0 0 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  display: flex;
  background-color: #f8f9fa;
}

.buttons-wrap .button-link {
  display: inline-block;
  padding: 11px 34px;
  border-radius: 6px;
  background: #ffffff;
}

.buttons-wrap .button-link.golden {
  background: linear-gradient(#ff8e64, #ffe641);
}

.buttons-wrap .button-link.golden .button-text {
  color: #ffffff;
}

.buttons-wrap .button-link.green {
  background-image: linear-gradient(-225deg, #009fc5 0%, #3cecb0 100%);
}

.buttons-wrap .button-link.green .button-text {
  color: #000000;
}

.buttons-wrap .button-link .button-text {
  color: #000000;
  font-size: 17px;
  letter-spacing: 1px;
}

.app-wrapper .main-wrap {
  background: url("../images/base-bg.jpg") no-repeat;
  background-size: cover;
  flex-direction: column;
}

.app-wrapper .main-wrap .content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 53px 0 0 0;
  padding-bottom: 180px;
}

.app-wrapper .main-wrap .content-wrap .left-cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 90px 0 0 0;
}

.app-wrapper .main-wrap .content-wrap .left-cnt .logo-cnt {
  width: 90px;
  height: 90px;
}

.app-wrapper .main-wrap .content-wrap .left-cnt .title-cnt {
  margin: 34px 0 36px 0px;
  line-height: 50px;
  font-size: 35px;
  letter-spacing: 0.88px;
  color: #ffffff;
}

.app-wrapper .main-wrap .content-wrap .left-cnt .buttons-wrap .button-link {
  padding: 18px 16px 16px;
  margin: 0 17px 0px 0;
}

.app-wrapper .main-wrap .content-wrap .right-cnt {
  margin: 0 50px 0px 0;
}

.app-wrapper .main-wrap .content-wrap .right-cnt .image {
  position: relative;
  display: block;
  width: 470px;
}

.app-wrapper .main-wrap .content-wrap .right-cnt .image img {
  position: absolute;
}

.app-wrapper .how-work-wrap {
  padding: 240px 0 122px;
  background-color: #f8f9fa;
}

.app-wrapper .how-work-wrap .wrap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-wrapper .how-work-wrap .how-work-title {
  margin: 0 0 73px;
  color: #282b31;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.88px;
  text-align: center;
}

.app-wrapper .how-work-wrap .how-work-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 370px;
  padding: 62px 30px 68px;
  box-shadow: 0 1px 3px rgba(32, 33, 39, 0.12);
  border-radius: 12px;
  background-color: #ffffff;
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container .image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 0 26px;
  border-radius: 15px;
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container .image-item.blue {
  box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
  background-image: linear-gradient(-225deg, #7956ec 0%, #2fb9f8 100%);
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container .image-item.yellow {
  box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
  background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container .image-item.pink {
  box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
  background-image: linear-gradient(-225deg, #ad2ab9 0%, #ff618c 100%);
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container .title-item {
  margin: 0 0 7px;
  color: #282b31;
  font-size: 20px;
  line-height: 35px;
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container .description-item {
  margin: 0 0 18px;
  color: #676c75;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.app-wrapper .how-work-wrap .how-work-inner .how-work-container .video-link {
  color: #469af4;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
}

.app-wrapper .partners-wrap {
  justify-content: center;
  padding: 79px 0 77px;
  border-top: 1px solid #e7e8ea;
  border-bottom: 1px solid #e7e8ea;
  background-color: #ffffff;
}

.app-wrapper .partners-wrap ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-wrapper .partners-wrap ul li {
  padding: 0 25px;
}

.app-wrapper .capabilities-wrap {
  padding: 118px 0 111px;
}

.app-wrapper .capabilities-wrap .wrap-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-wrapper .capabilities-wrap .left-cnt ul {
  display: flex;
  flex-direction: column;
}

.app-wrapper .capabilities-wrap .left-cnt ul .capabilities-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.app-wrapper .capabilities-wrap .left-cnt ul .capabilities-item .item-inner {
  display: flex;
  flex-direction: column;
}

.app-wrapper .capabilities-wrap .left-cnt ul .capabilities-item .title-item {
  color: #282b31;
  font-size: 16px;
  line-height: 35px;
}

.app-wrapper .capabilities-wrap .left-cnt ul .capabilities-item .description-item {
  color: #676c75;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.app-wrapper .download-wrap {
  padding: 73px 0 80px;
  background: url("../images/small-bg.jpg") no-repeat;
  background-size: cover;
}

.app-wrapper .download-wrap .wrap-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-wrapper .download-wrap .left-cnt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.app-wrapper .download-wrap .left-cnt .download-title {
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.88px;
  margin: 0 0 16px;
}

.app-wrapper .download-wrap .left-cnt .download-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 30px;
}

.app-wrapper .download-wrap .right-cnt .buttons-wrap {
  margin: 5px 0px 0px;
}

.app-wrapper .download-wrap .right-cnt .buttons-wrap .button-link {
  padding: 17px 33px;
}

.app-wrapper .download-wrap .right-cnt .buttons-wrap .button-link.free-btn {
  margin-left: 16px;
  padding: 17px 40px;
}

.app-wrapper .table-wrap {
  padding: 120px 0 121px;
}

.app-wrapper .table-wrap .wrap-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.app-wrapper .table-wrap .table-inner {
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 12px rgba(32, 33, 39, 0.08);
}

.app-wrapper .table-wrap .table-inner .table-info-cnt {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.app-wrapper .table-wrap .table-inner .table-info-cnt .table-image {
  display: flex;
  justify-content: center;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-wrapper .table-wrap .table-inner .table-info-cnt .table-image.light-bg {
  background-image: url("../images/light-bg.jpg");
}

.app-wrapper .table-wrap .table-inner .table-info-cnt .table-image.dark-bg {
  background-image: url("../images/dark-bg.jpg");
}

.app-wrapper .table-wrap .table-inner .table-info-cnt .table-image img {
  margin-top: 88px;
}

.app-wrapper .table-wrap .table-inner .table-info-cnt .table-description-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  padding: 0 110px;
  text-align: center;
  background-color: #ffffff;
}

.app-wrapper .table-wrap .table-inner .table-info-cnt .table-description-cnt .table-title {
  margin: 0 0 16px;
  color: #282b31;
  font-size: 35px;
  line-height: 50px;
}

.app-wrapper .table-wrap .table-inner .table-info-cnt .table-description-cnt .table-description {
  color: #676c75;
  font-size: 16px;
  line-height: 30px;
}

.app-wrapper .video-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/video-bg.jpg");
}

.app-wrapper .video-wrap .video-info-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.app-wrapper .video-wrap .video-info-cnt .video-title {
  font-size: 35px;
  line-height: 50px;
}

.app-wrapper .video-wrap .video-info-cnt .video-description {
  font-size: 16px;
  line-height: 30px;
}

.app-wrapper .video-wrap .video-info-cnt .video-button {
  position: relative;
}

.app-wrapper .video-wrap .video-info-cnt .video-button .icon-play {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.app-wrapper .video-wrap .video-info-cnt .video-button .icon-play:before, .app-wrapper .video-wrap .video-info-cnt .video-button .icon-play:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
  opacity: .25;
  z-index: 2;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.app-wrapper .video-wrap .video-info-cnt .video-button .icon-play:before {
  -webkit-animation: circleAdvantage 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  animation: circleAdvantage 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.app-wrapper .video-wrap .video-info-cnt .video-button .icon-play:after {
  -webkit-animation: circleAdvantage 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite 0.5s;
  animation: circleAdvantage 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite 0.5s;
}

.app-wrapper .video-wrap .video-info-cnt .video-button .icon-play .inner-icon-play {
  width: 100%;
  position: relative;
  height: 100%;
  border-radius: 50%;
}

.app-wrapper .video-wrap .video-info-cnt .video-button .icon-play .inner-icon-play:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 2;
  background: linear-gradient(120deg, #ffffff 0, #ffffff 100%);
  -webkit-animation: itemToken 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
  animation: itemToken 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
}

.app-wrapper .video-wrap .video-info-cnt .video-button .icon-play .inner-icon-play:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  background: url("../images/icons/paly-video.png") center no-repeat;
  background-size: 100% 100%;
  -webkit-animation: itemToken 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
  animation: itemToken 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
}

.app-wrapper .application-wrap {
  flex-direction: row;
  border-bottom: 1px solid #e7e8ea;
}

.app-wrapper .application-wrap .app-download-inner {
  border-right: 1px solid #e7e8ea;
  background-color: #ffffff;
  flex-grow: 1;
}

.app-wrapper .application-wrap .app-download-inner .app-download-title {
  color: #282b31;
  font-size: 35px;
  line-height: 50px;
}

.app-wrapper .application-wrap .app-download-inner .app-link-inner {
  color: #999ea8;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.33px;
}

.app-wrapper .application-wrap .app-download-inner .app-link-inner .link-container a {
  color: #282b31;
  letter-spacing: 0.65px;
}

.app-wrapper .application-wrap .app-download-inner .app-link-inner .link-container a:before {
  content: '';
  display: inline-block;
  margin: 0 10px 0 0;
  background: url("../images/icons/arrow.png") no-repeat;
}

.app-wrapper .application-wrap .app-comment-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container {
  width: 80%;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container .app-comment-info {
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 12px rgba(32, 33, 39, 0.08);
  border-radius: 12px;
  background-color: #ffffff;
  margin: 0 0 20px 0;
  padding: 30px;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container .app-comment-info .top-info {
  flex-direction: row;
  justify-content: flex-start;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container .app-comment-info .top-info .image {
  width: 50px;
  height: 50px;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container .app-comment-info .top-info .comment-text {
  color: #282b31;
  font-size: 14px;
  font-style: italic;
  line-height: 25px;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container .app-comment-info .bot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container .app-comment-info .bot-info .user-comment-info {
  color: #999ea8;
  font-size: 12px;
  line-height: 25px;
}

.app-wrapper .application-wrap .app-comment-inner .app-comment-container .app-comment-info .bot-info .user-comment-info span.name {
  font-weight: 700;
}

.app-wrapper .choose-plan-wrap {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-wrapper .choose-plan-wrap .left-cnt {
  text-align: left;
}

.app-wrapper .choose-plan-wrap .left-cnt .plan-title {
  color: #282b31;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.88px;
}

.app-wrapper .choose-plan-wrap .left-cnt .plan-info {
  color: #676c75;
  font-size: 16px;
  line-height: 30px;
}

.app-wrapper .choose-plan-wrap .right-cnt {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding: 50px 0 60px 0;
  box-shadow: 0 1px 3px rgba(32, 33, 39, 0.12);
  border-radius: 12px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description.profesional {
  background-image: url("../images/plan-bg.jpg");
  transform: scale(1.1);
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description.profesional .plan-title {
  color: #ffffff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description.profesional .plan-price {
  color: #ffffff;
  font-size: 60px;
  line-height: 82px;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description.profesional ul li span {
  color: #ffffff;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description .plan-title {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1.65px;
  box-shadow: 0 1px 0 #e7e8ea, inset 0 1px 0 #e7e8ea;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description .plan-price {
  color: #282b31;
  font-size: 40px;
  line-height: 54px;
  text-transform: uppercase;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description ul li .icon {
  width: 16px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 10px 0;
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description ul li .icon.ok-light {
  background-image: url("../images/icons/ok-light.png");
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description ul li .icon.ok-dark {
  background-image: url("../images/icons/ok-dark.png");
}

.app-wrapper .choose-plan-wrap .right-cnt .plan-description ul li span {
  color: #676c75;
  font-size: 15px;
  line-height: 30px;
}

.app-wrapper .contact-us-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/base-bg.jpg") no-repeat;
  background-size: cover;
}

.app-wrapper .contact-us-wrap .contact-title {
  color: #ffffff;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.88px;
}

.app-wrapper .contact-us-wrap .contact-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 30px;
}

.app-wrapper .contact-us-wrap form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 770px;
  height: 500px;
  box-shadow: 0 12px 24px rgba(40, 43, 49, 0.16);
  border-radius: 12px;
  background-color: #ffffff;
}

.app-wrapper .contact-us-wrap form .input-field-cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-wrapper .contact-us-wrap form .input-field-cnt .input-field {
  border-radius: 6px;
  border: 1px solid #e7e8ea;
  background-color: #f8f9fa;
}

.app-wrapper .contact-us-wrap form .input-field-cnt .input-field label {
  color: #b9bdc3;
  font-size: 17px;
  line-height: 23px;
}
